header.admHeader{
    background-color: plum;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 60px;

    h1{
        font-weight: bolder;
        user-select: none;
        font-size: 2.7em;
    }

    nav.navbar{
        ul.menu{
            display: flex;
            align-items: center;
            list-style: none;
            li{
                margin: 0 5px;
                button{
                    background-color: purple;
                    color: white;
                    font-size: 1em;
                    border: none;
                    border-radius: 10px;
                    padding: 5px;
                    cursor: pointer;
                    transition: background-color 250ms ease, color 250ms ease;

                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}



main.admMain{
    padding: 100px 0;
    div.container{
        width: 900px;
        h2.title{
            text-align: center;
            font-size: 2em;
        }
    
        section.admClients{
            padding: 25px 0;
            ul.admClientsList{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                li{
                    position: relative;
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: 0 0 5px gray;
                    padding: 10px 5px;
                    margin: 5px;
                    margin-bottom: 25px;
                    max-width: 23.5%;
                   span.admClientsData{
                    display: block;
                    padding: 10px;
                    border-bottom: 1px solid black;
                   } 

                   span.clientsOrders{
                    display: block;
                    position: absolute;
                    background-color: blue;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    right: -20px;
                    top: 0;
                    transform: translate(-50%, -50%);
                    cursor: pointer;

                    &::after{
                        content: 'O';
                        color: white;
                        position: absolute;
                        transform: translate(50%, 50%);
                        top: -5px;
                    }

                    &:active{
                        background-color: black;
                    }
                   }
                }
            }
            div.clickedOrders{
                padding-top: 50px;
                h3.title{
                    font-size: 1.5em;
                    margin-bottom: 25px;
                }
                ul.admClientOrderList{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li{
                        padding: 15px;
                        border: 1px solid black;
                        border-radius: 10px;
                        box-shadow: 0 0 5px gray;
                        width: 49%;
                        margin-bottom: 25px;
                        span.admClickedOrdersList{
                            display: block;
                            padding: 5px 0;
                            border-bottom: 1px solid black;
                        }
                        div.admChangeStatus{
                            padding: 15px 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            select{
                                width: 49%;
                                padding: 5px
                            }
                            button{
                                width: 49%;
                                padding: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        section.admAllOrders{
            padding: 50px 0 0;
            ul.admAOList{
                padding: 25px 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    padding: 15px;
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: 0 0 5px gray;
                    width: 49%;
                    margin-bottom: 25px;
                    span.admClickedOrdersList{
                        display: block;
                        padding: 5px 0;
                        border-bottom: 1px solid black;
                    }
                    div.admChangeStatus{
                        padding: 15px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        select{
                            width: 49%;
                            padding: 5px
                        }
                        button{
                            width: 49%;
                            padding: 5px;
                            cursor: pointer;
                        }
                    }
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }

        section.admManageProducts{
            padding: 50px 0 0;
            nav{
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    li{
                        width: 49%;
                        button{
                            width: 100%;
                            padding: 15px;
                            cursor: pointer;
                            font-size: 1em;
                        }
                    }
                }
            }

            div.admDivProductList{
                padding: 25px 0 0;
                h3.title{
                    padding: 15px 0 35px;
                    font-size: 1.7em;
                    text-align: center;
                }
                ul{
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li{
                    width: 23%;
                    border: 1px solid black;
                    border-radius: 10px;
                    padding: 15px;
                    position: relative;
                    margin-bottom: 35px;
                        span{
                            display: block;
                            padding: 5px 0;
                            border-bottom: 1px solid black;
                        }

                        div.admEditProduct{
                            position: absolute;
                            background-color: blue;
                            height: 25px;
                            width: 25px;
                            left: 0;
                            top: 0;
                            transform: translate(-45%, -45%);
                            border-radius: 50%;
                            cursor: pointer;

                            &::after{
                                content: 'E';
                                position: absolute;
                                color: white;
                                top: 15%;
                                left: 28%;
                            }

                            &:active{
                                background-color: black;
                            }
                        }

                        div.admRemoveProduct{
                            position: absolute;
                            background-color: red;
                            height: 25px;
                            width: 25px;
                            right: 0;
                            top: 0;
                            transform: translate(45%, -45%);
                            border-radius: 50%;
                            cursor: pointer;

                            &::after{
                                content: 'X';
                                position: absolute;
                                color: white;
                                top: 15%;
                                left: 30%;
                            }

                            &:active{
                                background-color: black;
                            }
                        }
                    }
                }

                div.admEditProductDiv{
                    padding-top: 25px;
                    text-align: center;
                    h4.title{
                        font-size: 1.7em;
                        padding: 15px 0 25px;
                    }
                    label{
                        display: block;
                        font-weight: bold;
                    }

                    input{
                        padding: 7px;
                        margin: 10px 0;
                        font-size: 1em;
                        width: 50%;
                    }

                    button{
                        display: block;
                        padding: 7px;
                        font-size: 1em;
                        width: 50%;
                        margin: auto;
                        margin-top: 15px;
                        cursor: pointer;
                    }
                }
            }

            div.admDivProductForm{
                text-align: center;
                padding: 25px 0 0;
                h3.title{
                    padding: 15px 0 35px;
                    font-size: 1.7em;
                }
                label{
                    display:block;
                    font-weight: bold;
                }

                input{
                    padding: 7px;
                    margin: 5px 0 15px;
                    font-size: 1em;
                    width: 50%;
                }

                button{
                    display: block;
                    padding: 10px;
                    font-size: 1em;
                    width: 50%;
                    margin: auto;
                    margin-top: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}




footer.admFooter{
    background-color: plum;
    text-align: center;
    padding: 25px;
}