@keyframes dropDown {
  0% {
    top: 125%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
footer.ftfooter {
  text-align: center;
  padding: 20px;
  background-color: rgb(201, 201, 201);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 800px;
  margin: auto;
}

.none {
  display: none;
}

header.hrheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 65px;
}
header.hrheader h1.title {
  font-size: 2.5em;
  font-weight: 900;
}
header.hrheader h1.title a {
  text-decoration: none;
  color: black;
}
header.hrheader nav.navbar ul.menu {
  list-style: none;
  display: flex;
  align-items: center;
}
header.hrheader nav.navbar ul.menu > li {
  position: relative;
  margin: 0 5px;
}
header.hrheader nav.navbar ul.menu > li a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  transition: color 500ms ease;
}
header.hrheader nav.navbar ul.menu > li a:hover {
  color: grey;
}
header.hrheader nav.navbar ul.menu > li ul.submenu {
  background-color: white;
  box-shadow: 0 0 5px grey;
  list-style: none;
  left: -1000000%;
  position: absolute;
  opacity: 0;
  min-width: 100%;
}
header.hrheader nav.navbar ul.menu > li:hover ul.submenu {
  left: 0;
  opacity: 1;
  animation: dropDown 250ms ease 0ms 1 normal forwards;
}
header.hrheader nav.navbar ul.menu > li:first-child a {
  background-color: black;
  color: white;
  border-radius: 25px;
}
header.hrheader nav.navbar ul.menu > li:nth-child(2) > a:hover {
  color: black;
}
header.hrheader nav.navbar ul.menu > li:last-child {
  margin: 0 0 0 5px;
}
header.hrheader nav.navbar ul.menu > li:last-child a {
  padding: 0;
  position: relative;
}
header.hrheader nav.navbar ul.menu > li:last-child a img {
  width: 25px;
}
header.hrheader nav.navbar ul.menu > li:last-child a span {
  position: absolute;
  background-color: black;
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -35%;
  top: -25%;
}

main.mnmainContent {
  width: 1250px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
main.mnmainContent div.container {
  text-align: center;
}
main.mnmainContent div.container h2.title {
  font-size: 3em;
  font-weight: 100;
  padding-bottom: 25px;
  color: red;
}
main.mnmainContent div.container p.text {
  text-align: left;
  font-size: 1.6em;
}
main.mnmainContent div.img {
  padding: 75px 0;
}
main.mnmainContent div.img img {
  width: 100%;
}

main.lgmainContent {
  padding: 100px 0;
}
main.lgmainContent div.divLogin {
  display: flex;
}
main.lgmainContent div.divLogin div.divCadastro h2.title {
  padding-bottom: 15px;
}
main.lgmainContent div.divLogin div.divCadastro form.formCadastro label {
  display: block;
  padding-top: 15px;
}
main.lgmainContent div.divLogin div.divCadastro form.formCadastro input {
  padding: 5px 10px;
  font-size: 1em;
  width: 100%;
  margin-top: 5px;
}
main.lgmainContent div.divLogin div.divCadastro form.formCadastro button {
  margin-top: 25px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 0;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
}
main.lgmainContent div.divLogin div.divCadastro form.formCadastro button:hover {
  background-color: black;
  color: white;
  border-color: blue;
}
main.lgmainContent div.divLogin div.divCadastro form.formCadastro button:active {
  background-color: blue;
}/*# sourceMappingURL=style.css.map */