main.lgmainContent{
    padding: 100px 0;
    div.divLogin{
        display: flex;
        justify-content: space-between;
        div.divCadastro, div.subDivLogin{
            h2.title{
                text-align: center;
                padding-bottom: 15px;
            }
            form.formCadastro, form.formLogin{
                label{
                    display: block;
                    padding-top: 15px;
                }
                input{
                    padding: 5px 10px;
                    font-size: 1em;
                    width: 100%;
                    margin-top: 5px;
                }
                button{
                    margin-top: 25px;
                    width: 100%;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 25px;
                    padding: 10px 0;
                    font-size: 1em;
                    cursor: pointer;
                    transition: background-color 250ms ease,color 250ms ease,border-color 250ms ease;

                    &:hover{
                        background-color: black;
                        color: white;
                        border-color: blue;
                    }

                    &:active{
                        background-color: blue;
                    }
                }
            }
        }
    }

    div.logFeito{
        div.topContent{
            text-align: center;
            h2.title{
                font-size: 2.5em;
                padding: 0 0 25px 0;
            }
            p.text{
                font-size: 1.3em;
            }
        }
        div.infos{
            padding: 50px 0 0;
            text-align: center;
            & > button{
                width: 45%;
                padding: 15px;
                background-color: white;
                font-size: 1em;
                cursor: pointer;
                border-radius: 15px;

                &:active{
                    background-color: black;
                    color: white;
                }
            }
            h3.title{
                font-size: 1.8em;
            }
            ul.ordersList{
                list-style: none;
                padding: 25px 0;
                li{
                    padding: 15px 0;
                    position: relative;
                    border: 1px solid black;
                    border-radius: 10px;
                    margin-bottom: 5px;

                    p.price{
                        margin: 5px 0;
                    }
                }
                span.delete{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 30px;
                    width: 30px;
                    background-color: red;
                    border-radius: 50%;
                    top: 50%;
                    right: 25px ;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: background-color 250ms ease;
                    user-select: none;

                    &::after{
                        content: "X";
                        position: absolute;
                        display: inline-block;
                    }

                    &:hover{
                        background-color: darkred;
                    }
                    
                    &:active{
                        background-color: black;
                    }
                }
            }
            div.createOrder{
                padding: 25px 0 0;
                div.products{
                    label{
                        display: block;
                    }
                    input{
                        display: block;
                        padding: 7px 0 7px 15px;
                        border-radius: 5px;
                        border: 1px solid black;
                        font-size: 1em;
                        width: 50%;
                        margin: auto;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    div.choosedProducts{
                        margin: 10px 0;
                        padding: 15px;
                        border: 1px solid black;
                        border-radius: 10px;
                        box-shadow: 0 0 5px gray;
                        display: flex;
                        flex-wrap: wrap;
                        p{
                            border: 1px solid black;
                            width: fit-content;
                            padding: 5px;
                            border-radius: 10px; 
                            display: flex;
                            align-items: center;
                            margin: 3px;
                            span{
                                background-color: red;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                position: relative;
                                margin-left: 5px;
                                cursor: pointer;

                                &::after{
                                    content: "X";
                                    font-size: 0.5em;
                                    display: inline-block;
                                    position: absolute;
                                    color: white;
                                    top: 50%;
                                    transform: translateY(-45%);
                                }

                                &:active{
                                    background-color: black;
                                }
                            }
                        }
                    }
                }
                button{
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 5px;
                    padding: 7px;
                    font-size: 1em;
                    width: 50%;

                    &:active{
                        background-color: black;
                        color: white;
                    }
                }

                p.productsPage{
                    padding-top: 15px;
                    text-align: left;
                    font-size: 0.7em;
                }

                div.newOrder{
                    background-color: rgba(0, 0, 0, 0.45);
                    min-width: 100vw;
                    min-height: 100vh;
                    position: fixed;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    div#Order{
                        padding: 25px;
                        width: 500px;
                        background-color: white;
                        cursor: initial;
                        z-index: 5;

                        h4.title{
                            font-size: 2.5em;
                        }

                        p.text{
                            padding: 25px 0;
                            font-size: 1em;
                            text-align: left;
                            span{
                                display: block;
                                padding: 5px 0;
                                &.lineHead{
                                    display: inline;
                                    font-weight: bold;
                                    padding: 0;
                                }
                            }
                        }

                        span.warnMessage{
                            text-align: right;
                            padding-top: 5px;
                            display: block;
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
    }
}